body {
    margin: auto 0;
    max-width: 1900px;
    background: linear-gradient(#f6c9f8, #fb88ff);
}




/*Produtos*/

.produtos {
    width: 90%;
    height: 500px;
    margin: 100px auto;
   
}

.img_produto {
    /*  height: 400px;*/
    height: 90%;
    /* width: 300px; */
    width: 90%;
    margin-top: 5%;

}

.produto_img_nome {
    width: 24%;
    margin-left: 7%;
    display: inline-block;
    text-align: center;
    border: 1px solid purple;
    border-radius: 7%;
    background-color: purple;
    color: white;
}

/*-------------------*/