body {
    max-width: 1900px;
    background: linear-gradient(#f6c9f8, #fb88ff);
}


/*Main*/

#produto {
    width: 80%;
    margin: 0 auto;
}


#slider {
    width: 400px;
    margin: 10px auto;
    border: 3px solid purple;
}

section{
    width: 80%;
    height: 550px;
    margin-left: 22%;
}

#texto_produto {
    height: 500px;
    width: 400px;
    border: 3px solid purple;
    border-radius: 2%;
    margin-left: 10px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text_img {
    float: left; 
    text-align: center;
}

#texto_produto p {
    font-size: 13pt;
}

h2 {
    margin-top: 50px;
    font-size: 20pt;
}

#logo_zap_prod {
    height: 30px;
    width: 30px;
}

/*-------------------*/